div.member_view(hide-tabs='true')
    ion-content.has-tabs
        div.gallery
            div.row
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
            div.row
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img

        div.tags
            span.male
                i.icon.ion-male
                em(ng-bind='vm.item.age')
            span 水瓶座
            span(ng-if='vm.item.career' ng-bind='vm.item.career')
        div.tags
            div.title 个人签名
            div.desc(ng-bind='vm.item.sign')
        //div.tags
        //    div.title 蒲友号
        //    div.desc 188241
        div.tags
            div.title 兴趣爱好
            div.desc(ng-bind='vm.item.hobby')
        div.tags
            div.title 活跃酒吧
            div.desc.visit
                span(ng-repeat='bar in vm.item.barname | limitTo:3') <em>#</em>{{bar}}
        a.tags.item-icon-right(ng-href='/morectrl' ng-if='vm.item.isfriend==1') 更多
            i.icon.ion-ios-arrow-right

    div.bar.bar-footer.row
        a.col(ng-href='/chat/{{vm.item.id}}' ng-if='vm.item.isfriend==1')
            i.icon.ion-ios-chatbubble
            em 聊天
        a.col(ng-click='addFriend(vm.item.id)' ng-if='vm.item.isfriend==0')
            i.icon.ion-person-add
            em 关注
        a.col(ng-href='/apply/{{vm.item.id}}')
            i.icon.ion-android-bar
            em 请喝酒
