ion-content.body.has-tabs(hide-tabs='true' delegate-handle='chatBox')
    div.chat
        .comment-box
            ul
                li(ng-repeat='chat in vm.chatsMsg track by $index' ng-class='{my:chat.user_id==0}')
                    a(ng-href='/member_view')
                        img.avatar(ng-src='{{::chat.avatar}}')
                    div.nickname(ng-if='chat.user_id==0') 05-22 15:33 {{::chat.nickname}}
                    div.nickname(ng-if='chat.user_id!=0') {{::chat.nickname}} 05-22 15:33
                    div.msg-content {{::chat.msg}}

div.bar.bar-footer.bc
    div.col-80
        form.comment-form(ng-submit='vm.sendMsg()' action='javascript:;')
            input(type='text' class='textComment' placeholder='说点什么吧' id='textComment' ng-model='vm.msgInfo.msg')
    div.col-20
        s-btn(text='发送' ng-click='vm.sendMsg()')