/*
scss文件 numberPick
*/
@import "../../../styles/color.scss";

.numberPick{
  display: inline-block;
  .reduce,.add{
    font-size: .4rem;
    font-weight:bolder;
    height: .46rem;
    width: .46rem;
    border-radius: .46rem;
    background: $active-background-color;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: .4rem;
  }
  .number{
    font-size: .3rem;
    height: .46rem;
    width: .55rem;
    line-height: .46rem;
    color: white;
    display: inline-block;
    text-align: center;
  }

  .hiddem{
    visibility: hidden;
  }
}
