div.message(hide-tabs='true')
    ion-content(direction='x')
        div.row(id="group-tabs")
            div.col(ng-class='{"on":vm.index == 0}' ng-click='vm.changeTabs(0)') 全部
            div.col(ng-class='{"on":vm.index == 1}' ng-click='vm.changeTabs(1)') 酒局邀请
            div.col(ng-class='{"on":vm.index == 2}' ng-click='vm.changeTabs(2)') 酒局申请
            div.col(ng-class='{"on":vm.index == 3}' ng-click='vm.changeTabs(3)') 好友关注
    ion-content.has-header
        ion-slide-box(active-slide='vm.index' show-pager='false')
            ion-slide(style='height:{{vm.windowHeight}}px')
                ion-content
                    div.msg-list(ng-repeat='item in vm.msgList')
                        //  好友的消息提醒
                        div.card(ng-if='item.type==1 && item.sender == vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 好友关注提醒
                            div.item-text-wrap.item
                                h2 你关注了 {{item.receiver_info.nickname}}
                        div.card(ng-if='item.type==1 && item.sender != vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 好友关注提醒
                            a.item.item-text-wrap.item-avatar(ng-href='/member_view/{{item.sender_info.id}}')
                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                h2 {{item.sender_info.nickname}} 关注了你

                        div.card(ng-if='(item.type==3 || item.type ==4) && item.sender == vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em {{item.title}}
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.receiver_info.headIcon}}')
                                h2 {{item.content}}

                        div.card(ng-if='(item.type==3 || item.type ==4) && item.sender != vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em {{item.title}}
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                h2 {{item.content}}

                        div.card(ng-if='(item.type==8 || item.type==9 || item.type ==10 || item.type==11 || item.type==12)')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em {{item.title}}
                            div.item.item-text-wrap {{item.content}}


                        //   酒局的消息提醒
                        div.card(ng-if='item.type==7 && vm.userInfo.id == item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em {{item.title}}
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.receiver_info.headIcon}}')
                                h2 你邀请 {{item.receiver_info.nickname}} 喝酒

                        div.card(ng-if='item.type==7 && vm.userInfo.id != item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 邀请你加入酒局
                            ul.group-list
                                li
                                    div.group
                                        div.pub-user
                                            div.avatar-section
                                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                                p.name(ng-bind='item.sender_info.nickname')
                                            div.group-info
                                                p(ng-bind='item.party_info.subject')
                                                div.type
                                                    span <i class='icon ion-person-stalker'></i> {{item.party_info.userCount}} / {{item.party_info.partyCount}}
                                                    span <i class='icon ion-ios-pricetag-outline'></i> {{item.party_info.type}}
                                                div.type
                                                    span <i class='icon ion-ios-clock-outline'></i> {{item.party_info.startTime*1000 | date:'MM月dd日 HH:mm'}}
                                                    span <i class='icon ion-ios-location'></i> 3km
                                        div.status-bar
                                            span 状态:{{item.party_info.step}}
                                            a.find-detail(ng-href='/onme_detail/{{item.partyid}}') 查看详情

                        div.card(ng-if='item.type==2 && vm.userInfo.id == item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 酒局申请
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.receiver_info.headIcon}}')
                                h2 {{item.content}}

                        div.card(ng-if='item.type==2 && vm.userInfo.id != item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 酒局申请
                            a.item.item-text-wrap.item-avatar(ng-href='/apply/{{item.partyid}}/{{item.sender}}')
                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                h2 {{item.content}}


            ion-slide(style='height:{{vm.windowHeight}}px')
                ion-content
                    div.msg-list(ng-repeat='item in vm.onmeList')
                        div.card(ng-if='item.type==7 && vm.userInfo.id == item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em {{item.title}}
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.receiver_info.headIcon}}')
                                h2 你邀请 {{item.receiver_info.nickname}} 喝酒

                        div.card(ng-if='item.type==7 && vm.userInfo.id != item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 邀请你加入酒局
                            ul.group-list
                                li
                                    div.group
                                        div.pub-user
                                            div.avatar-section
                                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                                p.name(ng-bind='item.sender_info.nickname')
                                            div.group-info
                                                p(ng-bind='item.party_info.subject')
                                                div.type
                                                    span <i class='icon ion-person-stalker'></i> {{item.party_info.userCount}} / {{item.party_info.partyCount}}
                                                    span <i class='icon ion-ios-pricetag-outline'></i> {{item.party_info.type}}
                                                div.type
                                                    span <i class='icon ion-ios-clock-outline'></i> {{item.party_info.startTime*1000 | date:'MM月dd日 HH:mm'}}
                                                    span <i class='icon ion-ios-location'></i> 3km
                                        div.status-bar
                                            span 状态:{{item.party_info.step}}
                                            a.find-detail(ng-href='/onme_detail/{{item.partyid}}') 查看详情


            ion-slide(style='height:{{vm.windowHeight}}px')
                ion-content
                    nodata(ng-if='vm.applyList.length==0 || !vm.applyList')
                    div.msg-list(ng-repeat='item in vm.applyList')
                        div.card(ng-if='item.type==2 && vm.userInfo.id == item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 酒局申请
                            a.item.item-text-wrap.item-avatar(ng-href='/groupDetail/{{item.partyid}}')
                                img(ng-src='{{vm.headHost + item.receiver_info.headIcon}}')
                                h2 {{item.content}}

                        div.card(ng-if='item.type==2 && vm.userInfo.id != item.sender')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 酒局申请
                            a.item.item-text-wrap.item-avatar(ng-href='/apply/{{item.partyid}}/{{item.sender}}')
                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                h2 {{item.content}}
            ion-slide(style='height:{{vm.windowHeight}}px')
                ion-content
                    nodata(ng-if='vm.friendList.length==0 || !vm.friendList')
                    div.msg-list(ng-repeat='item in vm.friendList')
                        div.card(ng-if='item.type==1 && item.sender == vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 好友关注提醒
                            div.item-text-wrap.item
                                h2 你关注了 {{item.receiver_info.nickname}}
                        div.card(ng-if='item.type==1 && item.sender != vm.userInfo.id')
                            div.item.item-divider
                                i.icon.ion-record(ng-if='item.status ==0 && item.receiver == vm.userInfo.id')
                                em 好友关注提醒
                            a.item.item-text-wrap.item-avatar(ng-href='/member_view/{{item.sender_info.id}}')
                                img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                h2 {{item.sender_info.nickname}} 关注了你

