div.message(hide-tabs='true')
   div.card
       div.item.item-divider 好友请求
       div.item.item-text-wrap.item-avatar
           img(src='https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=964608208,1877274174&fm=58')
           h2 ligang 请求添加为好友
           p
            s-btn(text='同意')
            s-btn.reject(text='拒绝')

   div.card
       div.item.item-divider 酒局通知
       div.item.item-text-wrap 距离您参加的春色满园关不住酒吧酒局倒计时还有2小时
           img(width=300)
