@import "../../../styles/util-mixin";
@import "../../../styles/color";
.message{
  .row{
    padding:0;
    div{
      text-align:center;
      color:#736F78;
      font-size:.32rem;
      border-bottom:1px solid #736F78;
      padding:.2rem 0;
      &.on{
        color:#fff;
        border-bottom:3px solid #fff;
      }
    }
  }
  .card{
    background: #444;
    border:1px solid rgba(0, 0, 0, 0.76);
    .item-divider{
      background: rgba(34, 34, 34, 0.56);
      border:none;
      color:#999;
    }
    .item-text-wrap{
      background:#282828;
      color:#999;
      border:none;
      h2{
        color:#999;
      }
    }
    .item-avatar{
      min-height:1.5rem;
      padding:.32rem .2rem .32rem 1.4rem;
      @include vertical();
      -webkit-box-align:start;
      img{
        width:1rem;
        height:1rem;
        top:.25rem;
        left:.25rem;
        max-height: none;
        max-width:none;
      }
      h2{
        color:#ccc;
        margin-left:.2rem;
      }
      p{
        margin-top:.2rem;
        font-size:.2rem;
        button{
          font-size:.24rem;
          display: inline-block;
          margin-right:10px;
          &.reject{
            background: #83797d;
            color:#fff;
          }
        }
      }
    }
    .group-list{
      background: #282828;
      li{
        margin:0;
        .group{
          border:none;
        }
      }
    }
    .ion-record{
      color: $active-background-color;
      font-size: .1rem;
      margin-right: .2rem;
    }
  }
}