div.message(hide-tabs='true')
    ion-content
        nodata(ng-if='!vm.msgList || vm.msgList.length ==0')

        div.msg-list(ng-repeat='item in vm.msgList')


            //  好友的消息提醒
            div.card(ng-if='item.type==1')
                div.item.item-divider 好友关注提醒
                div.item.item-text-wrap.item-avatar
                    img(ng-src='{{item.sender_info.headIcon}}')
                    h2 {{item.sender_info.nickname}} 关注了你
            //   酒局的消息提醒
            div.card(ng-if='item.type==7')
                div.item.item-divider 邀请你加入酒局
                ul.group-list
                    li
                        div.group
                            div.pub-user
                                div.avatar-section
                                    img(ng-src='{{vm.headHost + item.sender_info.headIcon}}')
                                    p.name(ng-bind='item.sender_info.nickname')
                                div.group-info
                                    p(ng-bind='item.party_info.subject')
                                    div.type
                                        span <i class='icon ion-person-stalker'></i> {{item.party_info.boyCount}}
                                        span <i class='icon ion-ios-pricetag-outline'></i> AA
                                    div.type
                                        span <i class='icon ion-ios-clock-outline'></i> 还剩8小时
                                        span <i class='icon ion-ios-location'></i> 3km
                            div.status-bar
                                span 状态:正在组居中
                                a.find-detail(ng-href='/onme_detail/{{item.partyid}}') 查看详情



            //    酒局时间提醒
            div.card(ng-if='item.type==8')
                div.item.item-divider 酒局通知
                div.item.item-text-wrap 距离您参加的春色满园关不住酒吧酒局倒计时还有2小时
                    img(width=300)
