div.chatList
    div.list.chat-list
        a.item.item-avatar(ng-href='/chat')
            img
            h2 nickname
                em 昨天
            p this is content
        a.item.item-avatar(ng-href='/chat')
            img
            h2 nickname
                em 昨天
            p this is content

        a.item.item-avatar(ng-href='/chat')
            img
            h2 nickname
                em 昨天
            p this is content