@import "../../../sass/color";
.location{

  .current-city{
    padding:12px 10px;
    button{
      background: #A7264D;
      color:#fff;
      padding:5px 16px;
      border:none;
      display: inline-block;
      font-size:14px;
      border-radius:3px;
    }
  }
  .hot-cities{
    padding:0.12rem 0.25rem 0.12rem 0.12rem;
    a.city-item{
      background: #282828;
      border:1px solid #5D637B;
      padding:7px 16px;
      color:#fff;
      font-size:14px;
      border-radius:3px;
      margin:3px 5px;
      display: inline-block;
    }
  }
  .location-city-list{
    p{
      color:#fff;
      padding:0.16rem 0.1rem;
      font-size:14px;
      margin:0;
      border-bottom: $border-line;

      &:last-child{
        border:none;
      }
    }
  }
}
.nav-tip-bar{
  height:20px;
  line-height:20px;
  color:#fff;
  background-color: #736F78;
  font-size:12px;
  padding-left:0.2rem;
}
