div.location(hide-tabs='true')
    ion-content
        div#search-bar
            div.item-input-inset
                label.item-input-wrapper
                    i.icon.ion-search.placeholder-icon
                    input(type="search" placeholder="请输入城市名" name="" ng-model="form.key" autocorrect="off")
                button.button.button-clear(ng-click='vm.goBack()') 取消



        nav-tip-bar(title='当前定位城市')
        div.current-city
            button {{vm.initCity}}
        nav-tip-bar(title='热门城市')
        div.hot-cities
            a.city-item 广州
            a.city-item 北京
            a.city-item 深圳
        div.location-city-list
            div(ng-repeat='(key,value) in vm.cities')
                nav-tip-bar(title='{{key | uppercase}}' id='{{key | uppercase}}')
                p(ng-repeat='item in vm.cities[key] track by $index' ng-click='vm.changeCity(item)') {{item}}