div.phoneSet
    img.bitmap(ng-src='{{vm.bitmap}}')
    img.logo(ng-src='{{vm.logo}}')
    h1 蒲吧

    div.hor
        input(placeholder='请输入昵称')
    div.hor
        div.row
            div.col-50
                button.button.button-block.dis 我是女生
            div.col-50
                button.button.button-block.dis 我是男生
    div.hor
        button.button.button-block.dis 进入蒲吧