div.modal
    nav-tip-bar(title='筛选')
    div.sort-content
        div.content-item(ng-click='sortContent()')  人气热门
        div.content-item  距离最近
        div.content-item  组局更多
    nav-tip-bar(title='类型')
    div.sort-content
        div.content-item(ng-click='sortContent()')  嗨吧
        div.content-item  清吧
        div.content-item  柔情
        div.content-item  弹唱吧
        div.content-item  餐吧
        div.content-item  音乐吧
        div.content-item  弹唱吧
    nav-tip-bar(title='商圈')
    div.sort-content
        div.content-item(ng-click='sortContent()')  嗨吧
        div.content-item  清吧
        div.content-item  柔情
        div.content-item  弹唱吧
        div.content-item  餐吧
        div.content-item  音乐吧
        div.content-item  弹唱吧
