div.pocket
    nav-tip-bar(title='当前余额')
    div.item.item-avatar
        h1 0.00
        div.row
            div.col-50
                a.button.button-block.get(href='/takeCash') 提现
            div.col-50
                a.button.button-block.set(href='/recharge') 充值
    nav-tip-bar(title='最近30天收支明细')

    div.list
        a.item 用户提现
            span.item-note.time 2015-05-22
        a.item
            em.change 余额:50.00
            span.item-note.out -50.00

    div.list
        a.item 收入
            span.item-note.time 2015-05-22
        a.item
            em.change 余额:50.00
            span.item-note.in -50.00

    div.no-data
        i.ion.ion-ios-list-outline
        p 无收支明细