div.myGroup
    div.row
        div.col-50(ng-click='vm.goSlide(0)' class="menu-tab {{vm.slideIndex==0?'on':''}}") 发起的
        div.col-50(ng-click='vm.goSlide(1)' class="menu-tab {{vm.slideIndex==1?'on':''}}") 参加的

    ion-slide-box(show-pager='false' active-slide='vm.slideIndex')
        ion-slide
            ul.group-list
                li(ng-click='vm.goGroupDetail()')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
        ion-slide
            ul.group-list
                li(ng-click='vm.goGroupDetail()')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.barAvatarDemo}}')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ico-user'></i> 3/6
                                    span <i class='icon ico-money'></i> AA
                                div.type
                                    span <i class='icon ico-clock'></i> 还剩8小时
                                    span <i class='icon ico-distance'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局

