div.myGroup
    div.row
        div.col-50(ng-click='vm.goSlide(0)' class="menu-tab {{vm.slideIndex==0?'on':''}}") 发起的
        div.col-50(ng-click='vm.goSlide(1)' class="menu-tab {{vm.slideIndex==1?'on':''}}") 参加的

    ion-slide-box(show-pager='false' active-slide='vm.slideIndex')
        ion-slide
            nodata(ng-if='!vm.getMyCreateParty || vm.getMyCreateParty.length==0')
            ul.group-list
                li(ng-click='vm.goGroupDetail(item.id)' ng-repeat='item in vm.getMyCreateParty track by $index')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.headHost + item.user.headIcon}}')
                                p.name(ng-bind='item.user.nickname')
                            div.group-info
                                p(ng-bind='item.subject')
                                div.type
                                    span <i class='icon ion-person-stalker'></i> {{item.userCount}}
                                    span {{item.money | currency : '￥'}}
                                div.type <i class='icon ion-ios-clock-outline'></i> {{item.startTime}}
                        div.status-bar
                            span 状态:{{item.step}}
                            button.find-detail 查看酒局
        ion-slide
            nodata(ng-if='!vm.getMyJoinParty || vm.getMyJoinParty.length==0')
            ul.group-list
                li(ng-click='vm.goGroupDetail(item.id)' ng-repeat='item in vm.getMyJoinParty track by $index')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(ng-src='{{vm.headHost + item.user.headIcon}}')
                                p.name(ng-bind='item.user.nickname')
                            div.group-info
                                p(ng-bind='item.subject')
                                div.type
                                    span <i class='icon ion-person-stalker'></i> {{item.userCount}}
                                    span {{item.money | currency : '￥'}}
                                div.type <i class='icon ion-ios-clock-outline'></i> {{item.startTime}}
                        div.status-bar
                            span 状态:{{item.step}}
                            button.find-detail 查看酒局

