.myGroup{
  .row{
    padding:0;
    div{
      text-align:center;
      color:#736F78;
      font-size:.26rem;
      border-bottom:1px solid #736F78;
      padding:.17rem 0;
      &.on{
        color:#fff;
        border-bottom:3px solid #fff;
      }
    }
  }
  .container{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
  }
}