div.apply.create(hide-tabs='true')
    ion-content
        div.pic-wall
            img.background(ng-src='{{vm.imgHost + vm.barInfo.cover}}')

            div.user-behavior
                div.avatar-bg
                    sex(type='{{vm.userInfo.sex}}')
                    img.avatar(ng-src='{{vm.headHost + vm.userInfo.headIcon}}')
                p.name(ng-bind='vm.userInfo.nickname')
                p.msg {{vm.userInfo.nickname}} 申请加入你的酒局
                s-btn(text='勾搭她' ng-click='vm.chat(vm.userInfo.id)')
        nav-tip-bar(title='{{vm.barInfo.name}}')
        ul.group-list
            li
                div.group
                    div.pub-user
                        div.avatar-section
                            img(ng-src='{{vm.headHost + vm.partyInfo.user.headIcon}}')
                            p.name {{vm.partyInfo.user.nickname}}
                        div.group-info
                            p {{vm.partyInfo.party.subject}}
                            div.type(style='margin-bottom:.2rem')
                                span <i class='icon ion-person-stalker'></i> {{vm.currentCount}}/{{vm.partyInfo.party.partyCount}}
                                span <i class='icon ion-ios-pricetag-outline'></i> {{vm.partyInfo.party.type}}
                            div.type
                                span <i class='icon ion-ios-clock-outline'></i> {{vm.partyInfo.party.startTime*1000 | date:'MM月dd日 HH:mm'}}
                                span <i class='icon ion-ios-location'></i> 3km
                    div.status-bar
                        span 状态:{{vm.partyInfo.party.step}}
        div.buttons(ng-if='vm.partyInfo.party.audit == 1')
            button.button.button-block.button-active(ng-click='vm.resolve()') 同意
            div.row
                div.col-50
                    button.button.button-block.dis(ng-click='vm.blacklist()') 加入黑名单
                div.col-50
                    button.button.button-block.dis(ng-click='vm.reject()') 拒绝