div.app(hide-tabs='true')
    img.bitmap(ng-src='{{vm.bitmap}}')
    img.logo(ng-src='{{vm.logo}}')
    h1 蒲吧
    div.magnet
        a.button.button-block.button-active 登录/注册
        div.row
            div.col
                a
                    i.icon.icon-wechat
                    em 随便看看
            div.col
                a
                    i.icon.icon-visitor
                    em 随便看看

        p.license 登陆或注册既代表同意 <a href='javascript:;'>会员协议</a>

