.shareList{
  .modal{
    background: rgba(255,255,255,.1);
    .content-title{
      text-align:center;
      margin: .2rem 0;
      font-size: .28rem;
    }
    img{
      width: 100%;
      height: 100%;
      opacity: .9;
    }
  }

}