div.onme_detail.create.apply(hide-tabs='true')
    ion-content.groupDetail
        div.pic-wall
            img.background(ng-src='{{vm.imgHost + vm.barInfo.cover}}')
            div.user-behavior
                div.avatar-bg
                    sex(type='{{vm.partyInfo.user.sex}}')
                    img.avatar(ng-src='{{vm.headHost +vm.partyInfo.user.headIcon}}')
                p.name(ng-bind='vm.partyInfo.user.nickname')
                //p.msg 锅锅能让我参加么...
                s-btn(text='勾搭她' ng-click='vm.chat(vm.partyInfo.user.id)')
        nav-tip-bar(title='{{vm.barInfo.name}}')
        .hoz-item
            span.l-content <i class='ion ion-android-bar'></i>  {{vm.partyInfo.party.subject || '暂无标题'}}
        .hoz-item
            span.l-content <i class='ion ion-ios-location'></i>  {{vm.barInfo.address}}
            a.ctrl-btn(ng-href='/barDetail/{{vm.barInfo.id}}') 详情

        .hoz-item
            span.l-content <i class='ion ion-ios-bell-outline'></i>  {{vm.partyInfo.party.startTime*1000 | date:'yyyy-MM-dd hh:mm'}}

        .hoz-item
            span.l-content <i class='ion'>&yen;</i>  {{vm.partyInfo.party.type}}

        .hoz-item
            span.l-content <i class='ion ion-ios-wineglass'></i>  酒单总价 {{vm.partyInfo.party.money | currency:'￥'}}
            a.ctrl-btn 酒单详情

    div.bar.bar-footer

        div.col
            a.button.button-block.button-gray(ng-click='vm.doReject()') 拒绝
        div.col
            a.button.button-block.button-active(ng-click='vm.doJoin()') 同意
