@import "../../../styles/color";
.onme_detail{
  .bar-footer{
    height:.9rem;
    padding:0;
    border:none;
    div{
      border-right:1px solid #444;
    }
    .button{
      width:100%;
      height:100%;
      margin:0;
      padding:0;
      border-radius: 0;
      text-align:center;
      line-height:.9rem;
    }
  }
  .col{
    padding: 0;
  }
}