div.onme_detail.create.apply(hide-tabs='true')
    ion-content.groupDetail
        div.pic-wall
            img.background(ng-src='{{vm.imgHost + vm.barInfo.cover}}')
            div.user-behavior
                div.avatar-bg
                    sex(type='{{vm.partyInfo.user.sex}}')
                    img.avatar(ng-src='{{vm.headHost +vm.partyInfo.user.headIcon}}')
                p.name(ng-bind='vm.partyInfo.user.nickname')
                //p.msg 锅锅能让我参加么...
                s-btn(text='勾搭她' ng-href='/member_view')
        nav-tip-bar(title='{{vm.barInfo.name}}')
        .hoz-item
            span.l-content <i class='ion ion-android-bar'></i>  {{vm.partyInfo.party.subject || '暂无标题'}}
            a.ctrl-btn(href='/barDetail')  详情
        .hoz-item
            span.l-content <i class='ion ion-ios-location'></i>  {{vm.barInfo.address}}
            a.ctrl-btn(ng-href='/barDetail/{{vm.barInfo.id}}') 详情

        .hoz-item
            span.l-content <i class='ion ion-ios-bell-outline'></i>  2015-05-22 15:22

        .hoz-item
            span.l-content <i class='ion'>&yen;</i>  男A女免

        .hoz-item
            span.l-content <i class='ion ion-ios-wineglass'></i>  酒单总价 &yen;3888.0
            a.ctrl-btn 酒单详情

    div.bar.bar-footer
        div.col-33
            a.button.button-block.button-gray 加入黑名单
        div.col-33
            a.button.button-block.button-gray(ng-click='vm.doReject()') 拒绝
        div.col-33
            a.button.button-block.button-active(ng-click='vm.doJoin()') 同意
