@import "../../../styles/util-mixin";
.edittxt{
  .edit{
    display: block;
    @include normalTextBox();
    height:.88rem;
    font-size:.32rem;
    background:#444 !important;
    border-radius:0;
    margin:.3rem 0;
    padding:.3rem;
    color:#f1f1f1;
    -webkit-appearance: none;
  }
  .row{
    padding: 0 .1rem;
  }
  .col{
    padding: 0;
    .edit{
      margin:0;
    }
  }
  .tips{
    margin:0 .1rem .3rem;
    color:$assistant-color;

  }
  .button{
    margin:0 .1rem;
    height: .9rem;
    line-height: .9rem;
    &.button-disabled{
      @include disabled-button();
    }
  }
}