div.groupOrderList
    div.item.item-avatar-left
        img
        h2 samp
    nav-tip-bar(title='本色酒吧')
    div.list
        div.row
            div.col-60 马爹利蓝带
            div.col-20 x1
            div.col-20 &yen;1288.0
        div.row
            div.col-60 马爹利蓝带
            div.col-20 x1
            div.col-20 &yen;1288.0
        div.total 合计&yen;3000.0
