div.groupOrderList
    div.item.item-avatar-left
        img
        h2 samp
    nav-tip-bar(title='本色酒吧')
    div.list
        div.row(ng-repeat='item in vm.detail.drinklist')
            div.col-60(ng-bind='item.name')
            div.col-20(ng-bind='"x"+item.count')
            div.col-20(ng-bind='item.party.money | currency "￥"')
        div.total 合计&yen;3000.0
