div.groupOrderList(hide-tabs='true')
    div.item.item-avatar-left
        img(ng-src='{{vm.headHost + vm.detail.user.headIcon}}')
        h2(ng-bind='vm.detail.user.nickname')
    nav-tip-bar(title='本色酒吧')
    div.list
        div.row(ng-repeat='item in vm.detail.drinklist')
            div.col-50(ng-bind='item.name')
            div.col-25(ng-bind='"x"+item.count')
            div.col-25(ng-bind='item.price | currency :"￥"')
        div.total 合计: {{vm.detail.party.money | currency :'￥'}}
