
@import "color";
@mixin ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin vertical{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

@mixin chatBox{

  border-radius:4px;
  background: #444;
  li{
    position: relative;
    padding:.1rem;
    padding-left:1rem;
    .avatar{
      display: block;
      width:.7rem;
      height:.7rem;
      margin-left:-0.8rem;
      float: left;
      border-radius:50%;
    }
    .nickname{
      color:#fff;
      font-size:.25rem;
    }
    .msg-content{
      color:#fff;
      background: #282828;
      padding:.15rem .2rem;
      border-radius:4px;
      margin-top:.2rem;
      position:relative;
      &:before{
        font-family: "Ionicons";
        display: block;
        content:'\F107';
        position: absolute;
        left:-6px;
        top:5px;
        color:$background-color;
        font-size:.35rem;
      }
    }
    &.my{
      padding:.3rem;
      padding-right:1rem;
      .avatar{
        display: block;
        width:.7rem;
        height:.7rem;
        margin-right:-0.8rem;
        float: right;
        border-radius:50%;
      }
      .nickname{
        text-align:right;
      }
      .msg-content{
        background: #736F78;
        &:before{
          content:''
        }
        &:after{
          font-family: "Ionicons";
          display: block;
          content:"\F10A";
          position: absolute;
          right:-6px;
          top:5px;
          color:#736F78;
          font-size:.35rem;
        }
      }
    }
  }
}
@mixin normalTextBox{
  width:100%;
  border:none;
  border-radius:4px;
  padding:0 10px;
  box-sizing: border-box;
}

.corner{
  color:#fff;
  position:absolute;
  right:0.2rem;
  top:0.2rem;
  font-size:.44rem;
  border:1px solid #fff;
  border-radius:50%;
  width:.6rem;
  height:.6rem;
  text-align:center;
  line-height:.6rem;
  z-index:5;
}