div.productList
    .header-warp
        img(ng-src='{{vm.imgHost + vm.barInfo.cover}}')
        i.ion-chevron-left.icon
        i.ion-android-share-alt.icon
        p.pubname {{vm.barInfo.name}}
        p.address {{vm.barInfo.address}}
        p.distance
            i.ion-ios-location.icon
            |   {{vm.distance}}

    .main-warp
        .row
            ion-content.col-25
                .category(ng-repeat="cate in vm.category" ng-class="{active:cate.isActive}" ng-click="vm.setActive(cate)")
                    .cate {{cate.name}}
            .col-75.col-offset-25
                .product-title {{vm.activeCate}}
                ion-content.pro
                    .product(ng-repeat="item in vm.items")
                        .product-item.row
                            .col-30
                                img(ng-src="{{item.img | img}}")
                            .col-70
                                .product-name {{item.title}}
                                .product-detail {{item._title}}
                                .price {{item.price | currency : '￥'}}
                                number-pick(number='item.num' id='item.id' getNumber='vm.getNumber(item)')

    .bar.bar-footer
        cart(number="vm.total" )
        .row(ng-if="vm.total !== 0")
            .col-67.price {{vm.price | currency : '￥'}}
            .col-33.buy 去结算
        .row(ng-if="vm.total === 0")
            .col-67.empty
                i.icon.ion-android-cart
                | 您的购物车是空的

