div.productList
    .header-warp
        img(src="./assets/img/header.png")
        i.ion-chevron-left.icon
        i.ion-android-share-alt.icon
        p.pubname {{vm.pubname}}
        p.address {{vm.address}}
        p.distance
            i.ion-ios-location.icon
            |   {{vm.distance}}

    .main-warp
        .row
            ion-content.col-25
                .category(ng-repeat="cate in vm.category")
                    .cate {{cate.name}}
            ion-content.col-75
                .product-title 新品推荐
                .product(ng-repeat="item in vm.items")
                    .item

