@import "../../../styles/color.scss";
@import "../../../styles/util-mixin.scss";

@mixin prop-set($font-size,$color) {
  font-size: $font-size;
  color: $color;
}

$left: .22rem;
$bar-height: 1rem;
.productList {
  .header-warp {
    position: relative;

    height: 2.7rem;
    img {
      height: 100%;
      width: 100%;
    }
    p {
      margin: 0;
    }

    .ion-chevron-left {
      @include prop-set(.36rem, white);
      position: absolute;
      top: .67rem;
      left: $left;
    }
    .ion-android-share-alt {
      @include prop-set(.54rem, white);
      position: absolute;
      top: .53rem;
      right: .25rem;
    }

    .pubname {
      @include prop-set(.3rem, white);
      position: absolute;
      left: $left;
      bottom: .45rem;
    }
    .address {
      @include prop-set(.23rem, $assistant-color);
      position: absolute;
      left: $left;
      bottom: .08rem;
      width:4.5rem;
      @include ellipsis();
    }
    .distance {
      @include prop-set(.2rem, $assistant-color);
      position: absolute;
      right: $left;
      bottom: .13rem;
    }

  }

  ion-content.col-25 {
    top: 2.7rem;
  }

  ion-content.pro {
    top: 3.3rem;
    left: 25%;
  }
  .scroll-content {
    margin-bottom: 1rem;
  }

  .main-warp {
    .row {
      padding: 0;
    }
    h5, p, .product-name {
      color: white;
    }
    .category {
      border-bottom: 1px solid $assistant-color;
      background: $background-list-color;
      .cate {
        color: $assistant-color;
        text-align: center;
        line-height: 1.3rem;
        font-size: .26rem;

      }

      &.active {
        border-left: 5px solid $active-background-color;
        .cate {
          color: white;

        }
        background: $background-color;
      }

      height: 1.2rem;
      p {
        line-height: 1.2rem;
      }
    }

    .product {
      margin: .24rem 0;
      &-title {
        padding: .1rem;
        background: $assistant-color;
        color: white;
      }
      &-item {
        img {
          width: 1.2rem;
          height: 1.2rem;
          margin: 0 .2rem;
        }
      }
      &-name, &-detail {
        width: 2.6rem;
        font-size: .3rem;
        @include ellipsis;
      }
      &-detail {
        font-size: .22rem;
        color: $assistant-color;
      }

      .price {
        float: left;
        color: $price;
      }
      number-pick {
        float: right;
      }
    }
  }

  .bar-footer {
    height: $bar-height;
    &, .row {
      padding: 0;
    }
    .cart {
      position: absolute;
      left: .2rem;
      top: -.2rem;
    }
    .price {
      padding-left: 1.38rem;
      line-height: $bar-height;
      height: $bar-height;
      font-size: .36rem;
      background: $assistant-color;

    }
    .buy {
      font-size: .36rem;
      background: $active-background-color;
      text-align: center;
      color: white;
      line-height: $bar-height;
    }
    .empty {
      margin-left: .2rem;
      height: 1rem;
      line-height: 1rem;
      font-size: .35rem;
    }
  }

}



