div.productList(hide-tabs='true')
    .header-warp
        img(ng-src='{{vm.imgHost + vm.barInfo.cover}}')
        i.ion-chevron-left.icon
        i.ion-android-share-alt.icon
        p.pubname {{vm.barInfo.name}}
        p.address {{vm.barInfo.address}}
        p.distance
            i.ion-ios-location.icon
            |   {{vm.distance}}

    .main-warp
        .row
            ion-content.col-25
                .category(ng-repeat="cate in vm.category" ng-class="{active:cate.isActive}" ng-click="vm.setActive(cate)")
                    .cate {{cate.name}}
            .col-75.col-offset-25
                .product-title {{vm.activeCate}}
                ion-content.pro
                    .product(ng-repeat="item in items")
                        .product-item.row
                            .col-30
                                img(ng-src="{{vm.productHost + item.cover}}")
                            .col-70
                                .product-name {{item.name}}
                                .product-detail {{item.details}}
                                .price {{item.price | currency : '￥'}}
                                number-pick(number='item.num || 0'  id='item.id' name='item.name' price='item.price' barid='vm.barInfo.id' )

    .bar.bar-footer(ng-if='vm.total!=0')
        cart(number="vm.total" barid='vm.barInfo.id' )
        .row
            .col-67.price {{vm.price | currency : '￥'}}
            .col-33.buy(ng-click='vm.calculator()') 去结算
    .bar.bar-footer(ng-if='vm.total===0')
        div.item.item-icon-left
            i.icon.ion-ios-cart
            span 您购物车是空的

