div.setting(hide-tabs='true')
    nav-tip-bar(title='安全')
    .list
        a.item.item-icon-left.item-icon-right 登录密码
            span.item-note 修改
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right 支付密码
            span.item-note 未设置
            i.icon.ion-ios-arrow-right
    nav-tip-bar(title='安全')
    .list
        a.item.item-icon-right(ng-click='vm.clearCache()') 清除缓存
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(href='/resetpwd') 支付密码
            span.item-note 未设置
            i.icon.ion-ios-arrow-right
        a.item.item-icon-right 关于
            i.icon.ion-ios-arrow-right