@import "../../../styles/util-mixin";
.createOrder{
  h1.title{
    font-size:.32rem;
    color:#fff;
    margin:.2rem;
    font-weight:normal;
    height:.6rem;
    line-height:.6rem;
  }
  .list{
    border:none;
    padding:0 0 0 .2rem;
    margin:0;
    background: #444;
    .item{
      padding:.32rem .2rem .32rem .8rem;
      background: transparent;
      border:none;
      border-bottom:1px solid #666;
      color:#fff;
      min-height:1.2rem;
      &:last-child{
        border:none;
      }
      .change{
        font-size:.2rem;
      }
      .icon{
        top:.32rem;
        &.ion-ios-checkmark-empty{
          border:1px solid $active-background-color;
          background: $active-background-color;
          color:#fff;
        }
        &.ion-ios-arrow-right{
          top:0;
        }
        &.ion-cash{
          top:-.1rem;
          font-size:.48rem;
          left:0;
        }

      }
      .icon-wallet{
        background: url(http://h5.pubar.me/lib/images/icon-wallet.png) no-repeat;
        background-size: 100%;
        width:.4rem;
        height:.4rem;
      }
      .icon-alipay{
        background: url(http://h5.pubar.me/lib/images/icon-ali-gray.png) no-repeat;
        background-size: 100%;
        width:.4rem;
        height:.4rem;
        top:.32rem;
      }
      .icon-wechat{
        background: url(http://h5.pubar.me/lib/images/icon-wechat-gray.png) no-repeat;
        background-size: 100%;
        width:.4rem;
        height:.4rem;
        top:.32rem;
      }
      .icon-circle{
        width:.6rem;
        height:.6rem;
        border-radius:50%;
        border:1px solid #666;
      }
    }
    .row{
      padding:.28rem 0;
      color:#fff;
      border-bottom:1px solid $assistant-color;
      margin:0;
      div{
        @include ellipsis();
        padding: 0;
        &:nth-child(2){
          text-align:center;
          color:#999;
        }
      }
      .tl{
        float: left;
      }
      .tr{
        float: right;
        margin-right:.2rem;
        color:#ccc;
      }
      &:last-child{
        border:none;
      }
    }
    .total{
      text-align:right;
      color:#fff;
      padding:.2rem .3rem;
    }
  }
  .bar{
    &.bar-active{
      background: $active-background-color;
      color:#fff;
    }
  }
}