div.phoneLogin
    img.bitmap(ng-src='{{vm.bitmap}}')
    img.logo(ng-src='{{vm.logo}}')
    h1 蒲吧

    div.hor
        input(placeholder='请输入你的手机号码')
    div.hor
        div.row
            div.col-66
                input(placeholder='请输入验证码')
            div.col-34
                a 获取验证码
    div.hor
        button.button.button-block.button-active 确定