div.friend
    ion-content.has-footer
        div#search-bar
            div.item-input-inset
                label.item-input-wrapper
                    i.icon.ion-search.placeholder-icon
                    input(type="search" placeholder="搜索" name="" ng-model="searchTxt" autocorrect="off")

        div.list
            a.item.item-avatar(ng-href='/addFriend')
                img(ng-src='{{vm.chatFansImg}}')
                h2 新的朋友
            a.item.item-avatar(ng-href='/chatGroupList')
                img(ng-src='{{vm.chatGroupImg}}')
                h2 酒局群聊
            a.item.item-avatar(ng-href='/fans')
                img(ng-src='{{vm.chatFansImg}}')
                h2 谁关注我
        nav-tip-bar(title='关注列表')
        div.list
            nodata(ng-if='!vm.friendList || vm.friendList.length==0')
            a.item.item-avatar(ng-href='/member_view/{{item.id}}' ng-repeat='item in vm.friendList | filter:searchTxt')
                img(ng-src='{{vm.imgHost + item.headIcon}}')
                sex(type='{{item.sex}}')
                h2(ng-bind='item.nickname')
