div.resetpwd(hide-tabs='true')
    div.sending(ng-show='false')
        p.tit 验证码已发送到137****5203
        div.row
            div.col-67
                input(type='text' placeholder='请输入验证码' ng-model='vm.formData.valid')
            div.col-33
                input(type='button' ng-value="vm.buttonText" ng-click='vm.getCode()' ng-class='{disabled:!vm.flag}')

        div.b-area
            button.button.button-block 确定

    div.ste-pwd
        p.tit 请输入您的支付密码
        div.attach-pwdbox
            div.fa-box.row
                span
                span
                span
                span
                span
                span
            div.hide-board.row(ng-repeat='tag in vm.initPwd track by $index')
                i.ion.ion-record



        div.attach-keyboard
            div.keyboard.row
                div.col-33(ng-click='vm.setNum(7)') 7
                div.col-33(ng-click='vm.setNum(8)') 8
                div.col-33(ng-click='vm.setNum(9)') 9
            div.keyboard.row
                div.col-33(ng-click='vm.setNum(4)') 4
                div.col-33(ng-click='vm.setNum(5)') 5
                div.col-33(ng-click='vm.setNum(6)') 6
            div.keyboard.row
                div.col-33(ng-click='vm.setNum(1)') 1
                div.col-33(ng-click='vm.setNum(2)') 2
                div.col-33(ng-click='vm.setNum(3)') 3
            div.keyboard.row
                div.col-33(ng-click='vm.delNum()') 删除
                div.col-33(ng-click='vm.setNum(0)') 0
                div.col-33(ng-click='vm.back()') 返回