div.member_view(hide-tabs='true')
    ion-content.has-tabs
        div.gallery
            div.row
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
            div.row
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img
                div.col-25
                    img

        div.tags
            span(ng-class='{male:vm.item.sex==0,female:vm.item.sex==1}')
                i.icon(ng-class='{"ion-male":vm.item.sex==0,"ion-female":vm.item.sex==1}')
                em(ng-bind='vm.item.age')
            span 水瓶座
            span(ng-if='vm.item.career' ng-bind='vm.item.career')
        div.tags
            div.title 个人签名
            div.desc(ng-bind='vm.item.sign')
        //div.tags
        //    div.title 蒲友号
        //    div.desc 188241
        div.tags
            div.title 兴趣爱好
            div.desc(ng-bind='vm.item.hobby')
        div.tags
            div.title 活跃酒吧
            div.desc.visit
                span(ng-repeat='bar in vm.item.barname | limitTo:3') <em>#</em>{{bar}}
        a.tags.item-icon-right(ng-href='/morectrl' ng-if='vm.item.isfriend==1') 更多
            i.icon.ion-ios-arrow-right
        div.row
            div.col
                button.button-block.button.button-active(ng-click='vm.confirm(vm.item.id)') 同意
            div.col
                button.button-block.button.button-dark(ng-click='vm.reject(vm.item.id)') 拒绝
