div.groupDetail.has-tabs(hide-tabs='true')
    ion-content.has-tabs
        div.group-info
            img.bg(ng-src='{{vm.barAvatarDemo}}')
            .group-section
                a(ng-href='/member_view/{{vm.detail.user.id}}')
                    img.avatar(ng-src='{{vm.headHost + vm.detail.user.headIcon}}')
                .intro
                s-btn(text='勾搭局长' ng-click='vm.goChat(vm.detail.user.id)')
                share(class='corner')

        .joiner
            i.ion.ion-ios-heart-outline
            div.userlist
                div(ng-if='!vm.getUsers || vm.getUsers.length==0') 当前酒局还没人参加
                img(ng-if='vm.getUsers' ng-repeat='item in vm.getUsers' ng-src='{{vm.headHost+item.headIcon }}')
        .hoz-item
            span.l-content <i class='ion ion-android-bar'></i>  {{vm.detail.party.subject}}
        .hoz-item
            span.l-content <i class='ion ion-ios-location'></i>  {{vm.barAddress}}
            a.ctrl-btn(ng-href='/barDetail/{{vm.detail.party.barID}}')  详情
        .hoz-item
            span.l-content <i class='ion ion-ios-bell-outline'></i>  {{vm.detail.party.startTime*1000 | date:'MM月dd日 HH:mm'}}

        .hoz-item
            span.l-content <i class='ion'>&yen;</i>  {{vm.detail.party.type}}
        .hoz-item
            span.l-content <i class='ion ion-cube'></i>  {{vm.detail.party.audit == 0 ? "无需审核":"需创建者审核"}}
        .hoz-item
            span.l-content <i class='ion ion-ios-wineglass'></i>  酒单总价
            a.ctrl-btn(ng-href='/groupOrderList/{{vm.detail.party.id}}') 酒单详情

        .chat-box
            ul
                li(ng-repeat='chat in vm.chatsMsg' ng-class='{my:chat.user_id==0}')
                    img.avatar(ng-src='{{chat.avatar}}')
                    .nickname {{chat.nickname}}
                    div.msg-content {{chat.msg}}


    div.bar.bar-footer.bc(ng-show='!vm.flag')
        div.col.status(ng-click='vm.showComment()')
                i.ion.ion-android-textsms
                h2 {{vm.detail.party.step}}
                p {{vm.detail.party.startTime*1000 | date:'MM月dd日 HH:mm'}}
        div.col-33.on(ng-click='vm.joinParty(vm.detail.party)' ng-if='vm.detail.party.join==2') 参与酒局

    div.bar.bar-footer.comment.bc(ng-show='vm.flag')
        div.col-75
            form
                input(type='text' placeholder='说点什么吧' id='txtComment')
        div.col-25
            s-btn(text='取消' ng-click='vm.flag = false')
