div.groupDetail.has-tabs(hide-tabs='true')
    ion-content.has-tabs
        div.group-info
            img.bg(ng-src='{{vm.barAvatarDemo}}')
            .group-section
                a(ng-href='/member_view/{{vm.detail.ownerinfo.id}}')
                    img.avatar(ng-src='{{vm.imgHost + vm.detail.ownerinfo.headIcon}}')
                .intro(ng-bind='vm.detail.party.subject')
                s-btn(text='勾搭局长' ng-click='vm.goChat(vm.detail.ownerinfo.id)')
                share(class='corner')

        .joiner
            i.ion.ion-ios-heart-outline
            div.userlist
                img(ng-src='{{vm.productItem}}')
                img(ng-src='{{vm.productItem}}')
                img(ng-src='{{vm.productItem}}')
                img(ng-src='{{vm.productItem}}')
        .hoz-item
            span.l-content <i class='ion ion-android-bar'></i>  {{vm.detail.party.subject}}
            a.ctrl-btn(href='/barDetail')  详情
        .hoz-item
            span.l-content <i class='ion ion-ios-location'></i>  广州市沿江路20310号巴拉巴兰吧拉巴兰...
            a.ctrl-btn  详情

        .hoz-item
            span.l-content <i class='ion ion-ios-bell-outline'></i>  {{vm.detail.party.startTime}}

        .hoz-item
            span.l-content <i class='ion'>&yen;</i>  男A女免
        .hoz-item
            span.l-content <i class='ion ion-cube'></i>  审核
        .hoz-item
            span.l-content <i class='ion ion-ios-wineglass'></i>  酒单总价
            a.ctrl-btn(ng-href='/groupOrderList/{{vm.detail.party.id}}') 酒单详情

        .chat-box
            ul
                li(ng-repeat='chat in vm.chatsMsg' ng-class='{my:chat.user_id==0}')
                    img.avatar(ng-src='{{chat.avatar}}')
                    .nickname {{chat.nickname}}
                    div.msg-content {{chat.msg}}


    div.bar.bar-footer.bc(ng-show='!vm.flag')
        div.col-66.status(ng-click='vm.showComment()')
                i.ion.ion-android-textsms
                h2 {{vm.detail.party.step}}
                p 距离开始还有8小时
        div.col-33.on
            p
                i.ion.ion-android-textsms
            p 评论
    div.bar.bar-footer.comment.bc(ng-show='vm.flag')

        div.col-75
            form
                input(type='text' placeholder='说点什么吧' id='txtComment')
        div.col-25
            s-btn(text='取消')
