div.groupDetail.has-tabs(hide-tabs='true')
    ion-content
        div.group-info
            img.bg(ng-src='{{vm.barAvatarDemo}}')
            .group-section
                img.avatar(src='./assets/img/product-item.png')
                .intro 本色帅哥美女局美女局巴拉限制最长20个中文字
                s-btn(text='勾搭局长' ng-click='vm.goChat()')
                share(class='corner')

        .joiner
            i.ion.ion-ios-heart-outline
            div.userlist
                img(src='assets/img/product-item.png')
                img(src='assets/img/product-item.png')
                img(src='assets/img/product-item.png')
                img(src='assets/img/product-item.png')
        .hoz-item
            span.l-content <i class='ion ion-android-bar'></i>  本色酒吧本色酒吧本色酒吧本色酒吧本色酒吧本色酒吧本色酒吧
            a.ctrl-btn(href='/barDetail')  详情
        .hoz-item
            span.l-content <i class='ion ion-ios-location'></i>  广州市沿江路20310号巴拉巴兰吧拉巴兰...
            a.ctrl-btn  详情

        .hoz-item
            span.l-content <i class='ion ion-ios-bell-outline'></i>  2015-05-22 15:22

        .hoz-item
            span.l-content <i class='ion'>&yen;</i>  男A女免
        .hoz-item
            span.l-content <i class='ion ion-cube'></i>  审核
        .hoz-item
            span.l-content <i class='ion ion-ios-wineglass'></i>  酒单总价
            a.ctrl-btn 酒单详情

        .chat-box
            ul
                li(ng-repeat='chat in chatsMsg' ng-class='{my:chat.user_id==0}')
                    img.avatar(ng-src='{{chat.avatar}}')
                    .nickname {{chat.nickname}}
                    div.msg-content {{chat.msg}}

        div.col-33 1

div.bar.bar-footer.bc(ng-show='!vm.flag')
    div.col-33
        p
            i.ion.ion-ios-heart-outline
        p 感兴趣
    div.col-33
        p 报名&yen;200
        p 组局中
    div.col-33.on(ng-click='vm.showComment()')
        p
            i.ion.ion-android-textsms
        p 评论
div.bar.bar-footer.comment.bc(ng-show='vm.flag')

    div.col-67
        form
            input(type='text' placeholder='说点什么吧' id='txtComment')
    div.col-33
        label
            input(type='checkbox')
            em 匿名评论
