@import "../../../styles/util-mixin";
.longText{
  margin:0 .1rem .3rem;
  .edit{
    display: block;
    @include normalTextBox();
    height:2.5rem;
    font-size:.32rem;
    background:#444 !important;
    border-radius:2px;
    margin:.3rem 0;
    color:#f1f1f1;
    -webkit-appearance: none;
    resize: none;
    padding:.2rem;
  }
  .tips{
    margin:0 .1rem .3rem;
    color:$assistant-color;
  }
  .button{
    margin:0 .1rem;
  }
}