div.longText(hide-tabs='true')
    textarea.edit(placeholder='{{vm.tips}}' id='txtbox' ng-model='vm.form.content')
    //div.tips(ng-bind='vm.tips')
    a.button.button-block.button-active(ng-click='vm.SaveInfo()') 保存