div
    ion-content.has-tabs
        div.bar-list-stores
            div.store
                collect(ng-class='{"ion-ios-star":true}')
                div.tip 3个酒局进行中
                img(ng-src='{{vm.barAvatarDemo}}')
                div.bar-info
                    div.bar-name 春色满园酒吧
                    div.bar-position 广州市天河区风行东路108号3楼
                        span 4.32km
            div.store
                collect(ng-class='{"ion-ios-star":true}')
                div.tip 3个酒局进行中
                img(ng-src='{{vm.barAvatarDemo}}')
                div.bar-info
                    div.bar-name 春色满园酒吧
                    div.bar-position 广州市天河区风行东路108号3楼
                        span 4.32km
            div.store
                collect(ng-class='{"ion-ios-star":true}')
                div.tip 3个酒局进行中
                img(ng-src='{{vm.barAvatarDemo}}')
                div.bar-info
                    div.bar-name 春色满园酒吧
                    div.bar-position 广州市天河区风行东路108号3楼
                        span 4.32km
            div.store
                collect(ng-class='{"ion-ios-star":true}')
                div.tip 3个酒局进行中
                img(ng-src='{{vm.barAvatarDemo}}')
                div.bar-info
                    div.bar-name 春色满园酒吧
                    div.bar-position 广州市天河区风行东路108号3楼
                        span 4.32km