@import "../../../styles/color";
.avatar{
  .bar-header{
    background: #282828;
    color:#fff;
    .upload{
      width:.8rem;
      height:.8rem;
      display: block;
      position: absolute;
      right:10px;
      top:10px;
      z-index:10;
      opacity: 0;
    }
    .ion-more{
      background: transparent;
      color:#fff;
      position: absolute;
      right:10px;
      top:8px;
      font-size:.56rem;
    }
  }
  .preview{
    margin-top:2.5rem;
  }
  .bar-footer{
    height:1rem;
    background: transparent;
    padding:.1rem .2rem;
    button{
      margin:0;
    }
  }
}