div.barDetail(hide-tabs='true')

    ion-content(delegate-handle="mainScroll")
        div.store(style='border:none')
            share.corner
            ion-slide-box
                ion-slide(ng-repeat = 'item in vm.imagesArray track by $index')
                    img(ng-src='{{vm.imgHost + item}}')

            div.bar-info
                div.bar-name(ng-bind='vm.barInfo.name')
                div.bar-position(ng-bind='vm.barInfo.address')
                    span <i class='icon ion-location'></i> 4.32km


        div.sort-section(style='margin-top:-1px')
            div.sort-item(ng-click='vm.goSlide(0)' class="sort-item {{vm.slideIndex == 0?'on':''}}") 酒局
            div.sort-item(ng-click='vm.goSlide(1)' class="sort-item {{vm.slideIndex == 1?'on':''}}") 蒲友
            div.sort-item(ng-click='vm.goSlide(2)' class="sort-item {{vm.slideIndex == 2?'on':''}}") 酒吧资料


        div.list
            ion-slide-box(show-pager='false' delegate-handle='listSlide' active-slide='vm.slideIndex')
                ion-slide
                    nodata(ng-if='vm.groupList.length==0')
                    ul.group-list
                        li(ng-repeat='item in vm.groupList track by $index')
                            a(ng-href='/groupDetail/{{item.id}}')
                                div.group
                                    div.pub-user
                                        div.avatar-section
                                            img(ng-src='{{vm.headHost+item.user.headIcon}}')
                                            p.name(ng-bind='item.user.nickname')
                                        div.group-info
                                            p(ng-bind='item.subject')
                                            div.type
                                                span <i class='icon ion-person-stalker'></i> {{item.userCount}}
                                                span  AA
                                            div.type <i class='icon ion-clock'></i> {{item.startTime}}
                                    div.status-bar
                                        span 状态:{{item.step}}
                                        button.find-detail 查看酒局
                ion-slide
                    nodata(ng-if='vm.friends.length==0')
                    ul.puf-list
                        li(ng-repeat = 'item in vm.friends track by $index')
                            a(ng-href='/member_view/{{item.id}}')
                                img(ng-src='{{vm.headHost + item.headIcon}}')
                            sex.sex(type='{{item.sex}}')
                            p.name(ng-bind='item.nickname')
                            p.sign(ng-bind='item.career')
                            a.apply(ng-click='vm.applyMe(item.id)') 请Ta喝
                ion-slide
                    div.bar-information
                        h3.bar-name(ng-bind='vm.barInfo.name')
                        p.desc(ng-bind='vm.barInfo.details')
                        button.button.button-block.button-active 查看酒单
                        map.map(longitude='{{vm.barInfo.longitude}}' latitude='{{vm.barInfo.latitude}}')

    div.active-section(ng-show='show')
        button.button.button-block.button-active 我要组局

