div.barDetail(hide-tabs='true')
    div.store(style='border:none')
        share.corner
        ion-slide-box
            ion-slide
                img(src='assets/img/bar-avatar-demo.png')
            ion-slide
                img(src='assets/img/bar-avatar-demo.png')
        div.bar-info
            div.bar-name 春色满园酒吧
            div.bar-position 广州市天河区风行东路108号3楼
                span <i class='icon ion-location'></i> 4.32km

    div.sort-section(style='margin-top:-1px')
        div.sort-item(ng-click='vm.goSlide(0)' class="sort-item {{vm.slideIndex == 0?'on':''}}") 酒局
        div.sort-item(ng-click='vm.goSlide(1)' class="sort-item {{vm.slideIndex == 1?'on':''}}") 蒲友
        div.sort-item(ng-click='vm.goSlide(2)' class="sort-item {{vm.slideIndex == 2?'on':''}}") 酒吧资料


    ion-slide-box(show-pager='false' delegate-handle='listSlide' active-slide='vm.slideIndex')
        ion-slide
            ul.group-list
                li(ng-click='vm.goGroupDetail()')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(src='assets/img/bar-avatar-demo.png')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ion-person-stalker'></i> 3/6
                                    span  AA
                                div.type
                                    span <i class='icon ion-clock'></i> 还剩8小时
                                    span <i class='icon ion-location'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li(ng-click='vm.goGroupDetail()')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(src='assets/img/bar-avatar-demo.png')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ion-person-stalker'></i> 3/6
                                    span  AA
                                div.type
                                    span <i class='icon ion-clock'></i> 还剩8小时
                                    span <i class='icon ion-location'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局
                li(ng-click='vm.goGroupDetail()')
                    div.group
                        div.pub-user
                            div.avatar-section
                                img(src='assets/img/bar-avatar-demo.png')
                                p.name 大彬大大彬
                            div.group-info
                                p 本色帅哥美女局美女局...
                                div.type
                                    span <i class='icon ion-person-stalker'></i> 3/6
                                    span  AA
                                div.type
                                    span <i class='icon ion-clock'></i> 还剩8小时
                                    span <i class='icon ion-location'></i> 3km
                        div.status-bar
                            span 状态:正在组居中
                            button.find-detail 查看酒局

        ion-slide
            ul.puf-list
                li
                    img(src='assets/img/bar-avatar-demo.png')
                    em.sex.ion-female.ion.female
                    p.name 小飞飞
                    p.sign 快请我喝酒!
                    a.apply(ng-click='applyMe()') 请Ta喝
                li
                    img(src='assets/img/bar-avatar-demo.png')
                    em.sex.ion-female.ion.female
                    p.name 小飞飞
                    p.sign 快请我喝酒!
                    a.apply(ng-click='applyMe()') 请Ta喝
                li
                    img(src='assets/img/bar-avatar-demo.png')
                    em.sex.ion-male.ion.male
                    p.name 小飞飞
                    p.sign 快请我喝酒!
                    a.apply(ng-click='applyMe()') 请Ta喝
        ion-slide
            div.bar-information
                h3.bar-name sexColor本色酒吧
                p.desc 中国夜生活名片LEANDING BRAND OF NOBLE NIGHT CLUB IN CHINA本色TrueCOLOR，中国夜生活的领导品牌。被誉为“城市夜生活的名片”。
                button.button.button-block.button-active 查看酒单

    div.active-section(ng-show='show')
        button.button.button-block.button-active 我要组局