div.recharge(hide-tabs='true')
    label
        div.row
            div.col-34 充值金额(元):
            div.col-66
                input.recharge(placeholder='请输入充值金额' type='number' ng-model='vm.form.money')


    div.card
        button.button.button-active.button-block(ng-click='vm.confirm()') 确认充值