div.create(hide-tabs='true')
    ion-content( style='bottom:60px;')
        div.pic-wall
            img.background(ng-src='{{vm.picWall}}')
            div.user-behavior
                img.avatar
                p.name 哒哒
        nav-tip-bar(title='本色酒吧酒局')
        div.comment-form
            dl
                dt 主题
                dd
                    input(placeholder='请输入酒局的主题' ng-model='form.title' type='text')
            dl
                dt 日期
                dd
                    input(placeholder='请选择日期' value='date' type='datetime-local')
            dl
                dt 人数
                dd
                    input(placeholder='最多参与人数' ng-model='form.count' type='text')
            dl
                dt 限制
                dd
                    select
                        option 无限制
                        option 只允许女生
                        option 只允许男生
            dl
                dt 付款
                dd
                    select
                        option 本大爷买单
                        option AA
                        option 男A女免
            dl
                dt 审核
                dd
                    select
                        option 无需审核
                        option 需要我的审核
    div.bar.bar-footer
        button.button.button-block.button-active 确定组局