div.create(hide-tabs='true')
    ion-content( style='bottom:60px;')
        div.pic-wall
            img.background(ng-src='{{vm.imgHost + vm.barDetail.cover}}')
            div.user-behavior
                img.avatar(ng-src='{{vm.headHost + vm.createUserInfo.headIcon}}')
                p.name(ng-bind='vm.createUserInfo.nickname')
        nav-tip-bar(title='{{vm.barDetail.name}}')
        div.comment-form
            dl
                dt 主题
                dd
                    input(placeholder='请输入酒局的主题' ng-model='vm.form.subject' type='text')
            dl
                dt 日期
                dd
                    input(placeholder='请选择日期'  ng-model='vm.form.startTime' id='localTime' type='datetime-local')
            dl
                dt 人数
                dd
                    input(placeholder='最多参与人数' ng-model='vm.form.num' type='number')
            dl
                dt 限制
                dd
                    select(ng-model='vm.borgValue' ng-options='option.text for option in vm.borg track by option.id')

            dl
                dt 付款
                dd
                    select(ng-model='vm.typeValue' ng-options='option.text for option in vm.type track by option.id')
            dl
                dt 审核
                dd
                    select(ng-model='vm.auditValue' ng-options='option.text for option in vm.audit track by option.id')

    div.bar.bar-footer
        button.button.button-block.button-active(ng-click='vm.submitParty()') 确定组局