div.onme.create

    ion-content( style='bottom:60px;')
        div.pic-wall
            img.background(ng-src='{{vm.imgHost + vm.barDetail.cover}}')
            div.user-behavior
                img.avatar(ng-src='{{vm.headHost + vm.userInfo.headIcon}}')
                p.name(ng-bind='vm.userInfo.nickname')
        nav-tip-bar(title='{{vm.barDetail.name}}')
        div.comment-form
            dl
                dt 主题
                dd
                    input(placeholder='请输入酒局的主题' ng-model='form.title' type='text')
            dl
                dt 日期
                dd
                    input(placeholder='请选择日期' value='date' type='datetime-local')
            dl
                dt 付款
                dd
                    span 我请客
    div.bar.bar-footer
        button.button.button-block.button-active 确定