div.onme.create(hide-tabs='true')
    ion-content( style='bottom:60px;')
        div.pic-wall
            img.background(ng-src='{{vm.cover}}')
            div.user-behavior
                img.avatar(ng-src='{{vm.headHost + vm.userInfo.headIcon}}')
                p.name(ng-bind='vm.userInfo.nickname')
        nav-tip-bar(ng-if='vm.barid' title='{{vm.barDetail.name}}')
        div.list(ng-if='!vm.barid')
            label.item.item-input.item-select
                div.input-label 请选择酒吧
                select.select-bar(ng-if='!vm.barid' ng-model='vm.defaultSelected' ng-options='option.name for option in vm.creatorBars track by option.barid')

        div.comment-form
            dl
                dt 主题
                dd
                    input(placeholder='请输入酒局的主题' ng-model='vm.form.subject' type='text')
            dl
                dt 日期
                dd
                    input(placeholder='请选择日期' value='date' ng-model='vm.form.startTime' type='datetime-local')
            dl
                dt 付款
                dd
                    span 我请客
    div.bar.bar-footer
        button.button.button-block.button-active(ng-click='vm.doActive()') 确定