div.member
    .user-section(style='background:url({{vm.headHost + (vm.userInfo.bgpic | img)}})')
        a.settings(href='/setting' )
            i.ion.ion-ios-gear-outline
        div.list
            a.item.item-avatar.item-icon-right(href='/member_edit')
                img(ng-src='{{vm.headHost + vm.userInfo.headIcon}}').avatar
                h2(ng-bind='vm.userInfo.nickname')
                p(ng-bind-html='!vm.userInfo.sign ? "&nbsp;":vm.userInfo.sign')
                i.icon.ion-ios-arrow-right
    nav-tip-bar(title='我的')
    .list.serivces
        a.item.item-icon-left.item-icon-right(href='/message')
            i.ion.ion-ios-bell
            span 消息
            em(ng-if='vm.msgCounts>0' ng-bind='vm.msgCounts')
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(href='/pocket')
            i.ion.ion-card
            span 钱包
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(ng-href='/myGroup')
            i.ion.ion-android-bar
            span 酒局
            i.icon.ion-ios-arrow-right
        //a.item.item-icon-left.item-icon-right
        //    i.ion.ion-wineglass
        //    span 酒库
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(ng-href='/couponList')
            i.ion.ion-pricetag
            span 电子券
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(ng-href='/collect')
            i.ion.ion-ios-heart
            span 收藏
            i.icon.ion-ios-arrow-right