div.member
    .user-section
        a.settings(href='/setting')
            i.ion.ion-ios-gear-outline
        div.list
            a.item.item-avatar.item-icon-right(href='#')
                img(ng-src='{{vm.productItem}}').avatar
                h2 MMerry
                p get the fuck off , I am the god
                i.icon.ion-ios-arrow-right
    nav-tip-bar(title='我的')
    .list.serivces
        a.item.item-icon-left.item-icon-right(href='/pocket')
            i.ion.ion-card
            span 钱包
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(ng-href='/myGroup')
            i.ion.ion-android-bar
            span 酒局
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right
            i.ion.ion-wineglass
            span 酒库
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right
            i.ion.ion-pricetag
            span 电子券
            i.icon.ion-ios-arrow-right
        a.item.item-icon-left.item-icon-right(ng-href='/collect')
            i.ion.ion-ios-heart
            span 收藏
            i.icon.ion-ios-arrow-right